section {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 20vh auto auto auto;
    justify-items: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.header {
    position: relative;
}
.hotel {
    display: flex;
    flex-direction: row;
    width: inherit;
    margin: 2vh 0;
    padding: 2vh;
    border: 1px solid #c6c6c6;
    height: 25vh;
}
.image {
    width: auto;
    height: 21vh;
    flex: 1;
    object-fit: cover;
}
.details {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.details h2, .details span {
    margin: 3px 2vh
}
.actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.actions span {
    align-self: center;
    margin: 1vh 0;
    color: ;
    font-size: 1.3em;
}
.actions input {
    width: available;
    width: -moz-available;
    width: -webkit-fill-available;
}
.footer.fixed {
    bottom: 0;
    position: fixed;
    margin: 1vh 20vw;
    width: 60vw;
}
@media screen and (max-width: 1279px){
    section {
        width: 80vw;
    }
    .footer.fixed {
        margin: 1vh 10vw;
        width: 80vw;
    }
}