section {
    grid-template-rows: 8vh 20vh 25vh repeat(3, 40vh);
    grid-template-columns: repeat(4, 15vw);
}

/*search navbar*/
form {
    grid-row: 3 / 4;
    grid-column: 1 / 5;
}
.text.search {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    text-align: justify;
    align-self: end;
    line-height: 1.7em;
}
.location {
    grid-column: 1 / 2;
}
.hint-response {
    width: 90%;
    height: auto;
    margin-left: 5%;
}
.date {
    grid-column: 2 / 3;
}
.date .search {
    width: 49%;
}
.number {
    grid-column: 3 / 4;
}
.send {
    grid-column: 4 / 5;
}
.hotel-0 {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}
.hotel-1 {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
}
.hotel-2 {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}
.hotel-3 {
    grid-column: 3 / 5;
    grid-row: 5 / 6;
}
.hotel-4 {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
}
.hotel-5 {
    grid-column: 3 / 5;
    grid-row: 6 / 7;
}
section img {
    object-fit: cover;
    object-position: center;
}
@media screen and (max-width: 1279px) {
    section {
        width: 80vw;
        grid-template-columns: repeat(4, 20vw);
    }
}

@media screen and (min-width: 1700px) {
    .hotel {
        width: 400px;
        height: 350px;
    }
    section {
        grid-template-rows: 8vh 20vh 20vh repeat(3, 43vh);
    }
}