* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: initial;
    background: #f5f5f5;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}
header {
    position: fixed;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(2, 5vh);
    grid-template-columns: 20vw repeat(7, 1fr) 20vw;
    background-color: #003580;
    color: white;
    align-items: center;
    justify-items: left;
    z-index: 1000;
}
header::after {
    content: "";
    width: 60vw;
    height: 1px;
    background-color: gray;
    display: block;
    position: fixed;
    top: 5vh;
    left: 20vw;
}
section {
    display: grid;
    width: 60vw;
    margin: auto;
    grid-row-gap: 2vh;
    justify-items: center;
    align-items: center;
    text-align: center;
}
form {
    display: inherit;
    grid-template-rows: 21vh;
    grid-template-columns: inherit;
    margin: inherit;
    align-items: inherit;
}
img {
    width: inherit;
    height: inherit;
    object-fit: inherit;
}
.search {
    justify-self: center;
    height: 30pt;
    width: 90%;
}
.button:hover{
    letter-spacing: 0.04em;
    background-color:  #E2E2E2;
}
.button {
    width: 8em;
    height: 2.5em;
    border: none;
    border-radius: 5px;
    background-color:  #FCFCFC;
    outline: none;
}
.first {
    grid-column: 2 / 9;
    grid-row: 1 / 2;
}
.menu {
    grid-column: 2 / 6;
    grid-row: 2 / 3;
}
.logo {
    grid-column: 2 / 7;
    font-size: 2em;
    letter-spacing: 0.1em;
}
.j-s-r {
    justify-self: right;
}
.log {
    grid-column: 7 / 8;
    grid-row: 1 / 2;
}
.registration {
    grid-column: 8 / 9;
    grid-row: 1 / 2;
}
.user {
    grid-column: 8 / 9;
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
}
.menu {
    display: inline-flex;
    align-items: center;
}
.menu img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}
.menu a {
    font-size: 1.1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: inherit;
    display: inherit;
    align-items: inherit;
}
.menu a:hover {
    letter-spacing: 0.15em;
}
.home {
    grid-column: 2 / 3;
}
.flights {
    grid-column: 3 / 4;
}
.accommodation {
    grid-column: 4 / 5;
}
.rentals {
    grid-column:  5 / 7;
}


/*for rest of pages*/
.hotel {
    width: 25vw;
    height: 35vh;
}
.hotel .name {
    position: absolute;
    z-index: 10;
    font-size: 2em;
    margin: 0.5vh 1vw;
    background-color: rgba(0, 0, 0, 0.09);
    color: white;
    width: 15vw;
    border-radius: 40%;
}
.hotel .average {
    color: #ff0000;
}
.date select {
    height: inherit;
}
.hint-response {
    position: absolute;
    margin-top: -20px;
    margin-left: 10px;
}
.hint-response span:first-of-type {
    text-transform: capitalize;
}
.colored {
    background-color: blue;
    color: white;
}

/*footer*/
.footer {
    margin: 1vh auto;
    position: relative;
    justify-items: center;
    align-items: end;
    text-align: center;
    display: grid;
    grid-template-rows: 8vh;
}
.footer.fixed {
    bottom: 0;
    position: fixed;
    margin: 1vh 20vw;
    width: 60vw;
}
/*end footer*/

@media screen and (max-width: 1279px) {
    header {
        grid-template-columns: 10vw repeat(7, 1fr) 10vw;
    }

    header::after {
        width: 80vw;
        left: 10vw;
    }

    footer {
        width: 80vw;
        grid-template-columns: 80vw;
    }
}

@media screen and (max-height: 1080px) {
    header {
        grid-template-rows: repeat(2, 6vh);
    }
    header::after {
        top: 6vh;
    }
}