section {
    grid-template-rows: 8vh repeat(2, 15vh) repeat(2, 10vh) 40vh 30vh;
    grid-template-columns: repeat(4, 15vw);
}

/*search navbar*/
form {
    grid-row: 3 / 4;
    grid-column: 1 / 5;
}
.text.search {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    text-align: justify;
    align-self: end;
    line-height: 1.7em;
}
.location {
    grid-column: 1 / 2;
}
.hint-response {
    width: 90%;
    height: auto;
    margin-left: 5%;
}
.date {
    grid-column: 2 / 3;
}
.date .search {
    width: 49%;
}
.number {
    grid-column: 3 / 4;
}
.send {
    grid-column: 4 / 5;
}

/*hotel*/
.hotel-0 {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
}
.hotel-1 {
    grid-column: 3 / 5;
    grid-row: 6 / 7;
}
section img {
    object-fit: cover;
    object-position: center;
}

/*flight*/
.first-offer {
    grid-row: 4 / 5;
}
.last-offer {
    grid-row: 5 / 6;
}
.from {
    grid-column: 1 / 2;
}
.to {
    grid-column: 2 / 3;
}
.price {
    grid-column: 3 / 4;
}
.action {
    grid-column: 4 / 5;
    height: 4vh;
}

/*rent*/
.rent {
    grid-column: 1 / 5;
    grid-row: 7 / 8;
    width: 80%;
    padding-top: 5vh;
}
.rent::before {
    content: "Inchirieri masini";
    position: relative;
    font-size: 2em;
    width: 60vw;
    top: 15%;
}

@media screen and (max-width: 1279px) {
    section {
        width: 80vw;
        grid-template-columns: repeat(4, 20vw);
    }
}

@media screen and (min-width: 1700px) {
    .hotel {
        width: 400px;
        height: 350px;
    }
    section {
        grid-template-rows: 8vh repeat(2, 20vh) repeat(2, 15vh) repeat(2, 35vh);
    }
}