section {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 25vw;
    height: 50vh;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #221f73;
    color: white;
    border-radius: 15px;
    text-align: center;
}
.logo {
    padding: 1em;
    flex: 1;
}
.alert {
    color: yellow;
    opacity: 0.8;
}
form {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error {
    color: yellow;
    opacity: 0.8;
    flex: 0;
    display: contents;
}
.data {
    width: 20vw;
    margin: 1vh 0;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.data.actions {
    flex: 1;
    flex-direction: row-reverse;
}
.label {
    flex: 1;
    text-align: end;
}
.input {
    flex: 2;
}
input {
    height: 30pt;
    width: 80%;
}
button {
    margin: 2vh 0;
}
.registration {
    flex: 1;
}
.submit {
    flex: 1;
}
/*@media screen and (max-width: 1280px) {*/
/*    .actions {*/
/*        width: 80%;*/
/*    }*/
/*}*/