section img {
    object-fit: cover;
    object-position: bottom;
    border-radius: 5px;
}
section {
    width: 60vw;
    height: 25vh;
    position: fixed;
    margin: 20vh 20vw;
}
.rent {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.actions {
     position: absolute;
     top: 50%;
     display: flex;
     transform: translate(0, -50%);
     width: inherit;
     height: 40pt;
     background-color: rgba(255, 255, 255, 0.5);
     border-radius: 25px;
    align-items: center;
    text-align: center;
 }
.search {
    border: none;
}
.location, .location .search  {
    flex: 1;
    width: 80%;
    margin: 0 1vw;
    position: relative;
}
.date, .date .search {
    flex: 2;
    width: 10vw;
    margin: 0 1vw;
    text-align: start;
}
.send, .send .search {
    flex: 1;
    width: 10vw;
    margin: 0 1vw;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 20vw;
    grid-template-columns: 60vw;
}

@media screen and (max-width: 1280px) {
    section {
        width: 80vw;
        margin: 20vh 10vw;
    }
}