{%  extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/rentals.css') }}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block body %}
    <section>
        <div class="rent">
            <img src="{{ asset("img/rentacar.jpg") }}" alt="Rent a Car">
            <div class="actions">
                <div class="location" >
                    <input class="search" type="text" placeholder="Orasul..." autofocus>
                </div>
                <div class="date">
                    <input class="search" type="date" value="2019-07-24">
                </div>
                <div class="send">
                    <input class="search button" type="button" value="Cauta">
                </div>
            </div>
        </div>
    </section>
{% endblock %}